﻿@model IEnumerable<SKPOnline.Models.ViewModels.StationVM>

<h2>Lista ulubionych stacji kontroli pojazdów</h2>

<p class="text-info">@ViewBag.StatusMessage</p>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentificationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voivodeship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                Dostępne funkcje
            </th>
        </tr>

        @foreach (var station in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => station.IdentificationCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => station.Voivodeship)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => station.City)
                </td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("Details", "Station", new {identificationCode = station.IdentificationCode})">Szczegóły</a>
                    <a class="btn btn-danger" href="@Url.Action("RemoveFromFavourites", "Station", new {identificationCode = station.IdentificationCode})">Usuń z ulubionych</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <h5>Lista Twoich ulubionych stacji kontroli pojazdów jest pusta. Przejdź do listy SKP, aby jakąś dodać!</h5>
    <a class="btn btn-success" href="@Url.Action("Index", "Station")">Lista SKP</a>
}