﻿@using SKPOnline.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Identity", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Menu <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @if (!User.IsInRole(RolesEn.Admin))
                    {
                        <li class="dropdown-header">Profil:</li>
                        if (User.IsInRole(RolesEn.Owner))
                        {
                            <li>
                                @Html.ActionLink("Informacje", "Index", "Owner")
                            </li>
                            <li>
                                @Html.ActionLink("Moje stacje", "Stations", "Owner")
                            </li>
                        }
                        if (User.IsInRole(RolesEn.Diagnostician))
                        {
                            <li>
                                @Html.ActionLink("Informacje", "Index", "Diagnostician")
                            </li>
                            <li>
                                @Html.ActionLink("Moje miejsca pracy", "Stations", "Diagnostician")
                            </li>
                        }
                        if (User.IsInRole(RolesEn.Customer))
                        {
                            <li>
                                @Html.ActionLink("Informacje", "Index", "Customer")
                            </li>
                            <li>
                                @Html.ActionLink("Moje ulubione stacje", "Stations", "Customer")
                            </li>
                        }
                    }
                    @if (User.IsInRole(RolesEn.Admin))
                    {
                        <li class="dropdown-header">Dostępne opcje:</li>
                        <li>
                            @Html.ActionLink("Panel administratora", "Index", "Admin")
                        </li>
                    }
                    <li class="dropdown-header">Konto:</li>
                    <li>
                        @Html.ActionLink("Ustawienia", "Index", "Account", null, new {title = "Manage"})
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Identity", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Identity", null, new {id = "loginLink"})</li>
    </ul>
}