﻿@using SKPOnline.Models
@model SKPOnline.Models.ViewModels.OwnerProfileVM

@section AddToHead
{
    <script type="text/javascript">
        $(function () {
            $('#avatar').change(function () {
                let fileElement = this;
                let fileExtension = "";
                if (fileElement.value.lastIndexOf(".") > 0) {
                    fileExtension = fileElement.value.substring(fileElement.value.lastIndexOf(".") + 1, fileElement.value.length);
                    $('#alert').html(null);
                }
                if (fileExtension.toLowerCase() !== "gif" && fileExtension.toLowerCase() !== "png" && fileExtension.toLowerCase() !== "jpg" && fileExtension.toLowerCase() !== "jpeg") {
                    $('#alert').html("Plik musi być w formacie JPG/PNG/GIF!");
                    fileElement.value = null;
                }
                let fileSize = this.files[0].size/1024/1024;
                if (fileSize > 10) {
                    $('#alert').html("Plik nie może być większy niż 10MB");
                    fileElement.value = null;
                }
            });

        });
</script>
}

@{
    var imageSource = "";

    if (Model.Logo != null)
    {
        var logoPath = Convert.ToBase64String(Model.Logo);
        imageSource = $"data:image/png;base64,{logoPath}";
    }
}

<h2>Edycja profilu</h2>


@using (Html.BeginForm("Edit", "Owner", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Zmień swoje dane</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CompanyName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nip, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nip, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Nip, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyEmail, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyEmail, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CompanyEmail, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voivodeship, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Voivodeship, new SelectList(VoivodeshipsPl.GetAllVoivodeships()), "Wybierz województwo", new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Voivodeship, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.City, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Street, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Street, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HouseNumber, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.HouseNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.HouseNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApartmentNumber, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApartmentNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ApartmentNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Logo, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.HiddenFor(model => model.Logo)
            <div class="col-md-10">
                <img class="img-thumbnail" src="@imageSource" width="200" height="200" alt="logo"/>
                <input type="file" name="image" id="avatar" accept="image/png, image/jpeg, image/gif">
                <span class='label label-danger' id="alert"></span>
                @Html.ValidationMessageFor(model => model.Logo, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do profilu", "Index")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}