﻿@model SKPOnline.Models.ViewModels.OwnerProfileVM

@{
    var imageSource = "";

    if (Model.Logo != null)
    {
        var logoPath = Convert.ToBase64String(Model.Logo);
        imageSource = $"data:image/png;base64,{logoPath}";
    }
}

<h2>Profil</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Twoje dane</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voivodeship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voivodeship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            <img class="img-thumbnail" src="@imageSource" style="width:200px;height:200px;" alt="logo"/>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj profil", "Edit") |
    @Html.ActionLink("Powrót do strony głównej", "Index", "Home")
</p>