﻿@using SKPOnline.Models
@model SKPOnline.Models.ViewModels.StationRequestVM

@section AddToHead
{
    <script type="text/javascript">
        $(function () {
            $('#avatar').change(function () {
                let fileElement = this;
                let fileExtension = "";
                if (fileElement.value.lastIndexOf(".") > 0) {
                    fileExtension = fileElement.value.substring(fileElement.value.lastIndexOf(".") + 1, fileElement.value.length);
                    $('#alert').html(null);
                }
                if (fileExtension.toLowerCase() !== "gif" && fileExtension.toLowerCase() !== "png" && fileExtension.toLowerCase() !== "jpg" && fileExtension.toLowerCase() !== "jpeg") {
                    $('#alert').html("Plik musi być w formacie JPG/PNG/GIF!");
                    fileElement.value = null;
                }
                let fileSize = this.files[0].size/1024/1024;
                if (fileSize > 10) {
                    $('#alert').html("Plik nie może być większy niż 10MB");
                    fileElement.value = null;
                }
            });
        });
</script>
}

<h2>Formularz zgłoszenia stacji kontroli pojazdów</h2>

@using (Html.BeginForm("CreateStationRequest", "Station", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dziękujemy za chęć pomocy! Wypełnij jak najwięcej poniższych pól, aby pomóc nam w weryfikacji tego wniosku.</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentificationCode, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.IdentificationCode, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.IdentificationCode, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voivodeship, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.Voivodeship, new SelectList(VoivodeshipsPl.GetAllVoivodeships()), "Wybierz województwo", new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Voivodeship, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.City, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.City, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.Street, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Street, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HouseNumber, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.HouseNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.HouseNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApartmentNumber, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.ApartmentNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ApartmentNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <p>Jeżeli posiadasz dodatkowe informacje, które pomogą nam zweryfikować istnienie tej SKP np. zdjęcie, pinezka na Google Maps itp. podaj je w poniższych polach.</p>

        <div class="form-group">
            @Html.LabelFor(model => model.KnownFrom, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.KnownFrom, 3, 40, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.KnownFrom, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherInfo, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.OtherInfo, 3, 40, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.OtherInfo, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                <input type="file" name="image" id="avatar" accept="image/png, image/jpeg, image/gif">
                <span class='label label-danger' id="alert"></span>
                @Html.ValidationMessageFor(model => model.Photo, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
                <input type="submit" value="Wyślij" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy SKP", "Index")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}