﻿@using Microsoft.AspNet.Identity
@using SKPOnline.Models
@model SKPOnline.Models.ViewModels.StationDetailsVM

@{
    Layout = "";
    var addressModel = new Address
                       {
                           IdentificationCode = Model.IdentificationCode,
                           Voivodeship = Model.Voivodeship,
                           City = Model.City,
                           Street = Model.Street,
                           HouseNumber = Model.HouseNumber,
                           ApartmentNumber = Model.ApartmentNumber
                       };
    var imageSource = "";

    if (Model.Photo != null)
    {
        var photoPath = Convert.ToBase64String(Model.Photo);
        imageSource = $"data:image/png;base64,{photoPath}";
    }
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SKPOnline</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        function initAutocomplete()
        {
            var geocoder = new google.maps.Geocoder();
            var station = @Html.Raw(Json.Encode(addressModel));
            var address = station.City + ", " + station.Street + " " + station.HouseNumber + "/" + station.ApartmentNumber;
            var myCenter = new google.maps.LatLng(52.114444, 19.423333);
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myCenter,
                zoom: 12,
                mapTypeId: 'roadmap'
            });
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);

            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            map.addListener('bounds_changed', function ()
            {
                searchBox.setBounds(map.getBounds());
            });

            geocoder.geocode({ 'address': address }, function (results, status)
            {
                if (status === google.maps.GeocoderStatus.OK)
                {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();
                    var cordinates = { lat: latitude, lng: longitude };
                    var marker = new google.maps.Marker({ position: cordinates, map: map });

                    map.panTo(marker.getPosition());
                }
                else
                {
                    console.log(status);
                }
            });

            var markers = [];

            searchBox.addListener('places_changed', function ()
            {
                var places = searchBox.getPlaces();

                if (places.length === 0)
                {
                    return;
                }

                markers.forEach(function (marker)
                {
                    marker.setMap(null);
                });

                markers = [];
                var bounds = new google.maps.LatLngBounds();

                places.forEach(function (place)
                {
                    if (!place.geometry)
                    {
                        console.log("Returned place contains no geometry");
                        return;
                    }

                    if (place.geometry.viewport)
                    {
                        bounds.union(place.geometry.viewport);
                    }
                    else
                    {
                        bounds.extend(place.geometry.location);
                    }
                });

                map.fitBounds(bounds);
            });
        }
    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
            @Html.ActionLink("Strona główna", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Informacje", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                <li>@Html.ActionLink("Lista SKP", "Index", "Station")</li>
                <li>@Html.ActionLink("Mapa SKP", "Map", "Station")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">

    <h2>Szczegóły stacji @Html.DisplayFor(model => model.IdentificationCode)</h2>

    <p class="text-info">@ViewBag.StatusMessage</p>
    <div>
        <h4>
            <img class="img-thumbnail" src="@imageSource" style="width:200px;height:200px;" alt="photo"/>
            @if (!Model.Name.IsEmpty())
            {
                @Html.DisplayFor(model => model.Name)
            }
            else
            {
                @:Ta SKP nie posiada nazwy własnej.
            }
        </h4>
        <h4>
            Adres stacji:
        </h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Voivodeship)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Voivodeship)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Street)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HouseNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApartmentNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApartmentNumber)
            </dd>
        </dl>

        <hr/>

        @if (EntityManager.IsOwnerPublic(Model.Owner))
        {
            <h4>
                Właściciel stacji:
            </h4>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Owner.Nip)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.Nip)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Owner.CompanyName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.CompanyName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Owner.CompanyEmail)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.CompanyEmail)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Owner.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.PhoneNumber)
                </dd>
            </dl>
        }
        else
        {
            <h5>Właściciel SKP nie udostępnił informacji o sobie lub jest nieznany.</h5>
        }

        <hr/>

        @{
            var diagnosticians = EntityManager.GetPublicDiagnosticians(Model.Diagnosticians);

            if (diagnosticians.Any())
            {
                <h4>Diagności, którzy udostępnili informacje o sobie:</h4>

                foreach (var diagnostician in diagnosticians)
                {
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => diagnostician.PermissionNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => diagnostician.PermissionNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => diagnostician.FirstName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => diagnostician.FirstName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => diagnostician.Surname)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => diagnostician.Surname)
                        </dd>
                    </dl>
                }
            }
            else
            {
                <h5>Nie znaleziono diagnostów, którzy udostępnili informacje o sobie.</h5>
            }
        }

        <hr/>

        <h4>
            Mapa z lokalizacją SKP:
        </h4>

        <input id="pac-input" type="text" style="height:30px; width: 150px; margin: 15px;" placeholder="Wyszukaj...">
        <div id="map" style="height:500px;"></div>
    </div>

    <hr/>

    <p>
        @if (Request.IsAuthenticated)
        {
            var userId = User.Identity.GetUserId();

            if (User.IsInRole(RolesEn.Admin))
            {
                @Html.ActionLink("Dodaj właściciela", "GrantOwnership", "Admin", new {requestId = new Guid(), requestType = "", identificationCode = Model.IdentificationCode}, null)
                @:|
            }

            if (User.IsInRole(RolesEn.Admin) || User.IsInRole(RolesEn.Owner) && EntityManager.IsItOwner(userId, Model.IdentificationCode))
            {
                @Html.ActionLink("Edytuj", "Edit", new {identificationCode = Model.IdentificationCode})
                @:|
            }

            if (User.IsInRole(RolesEn.Customer))
            {
                if (EntityManager.IsItFavourite(userId, Model.IdentificationCode))
                {
                    @Html.ActionLink("Usuń z ulubionych", "RemoveFromFavourites", new {identificationCode = Model.IdentificationCode})
                    @:|
                }
                else
                {
                    @Html.ActionLink("Dodaj do ulubionych", "AddToFavourites", new {identificationCode = Model.IdentificationCode})
                    @:|
                }
            }

            if (User.IsInRole(RolesEn.Diagnostician))
            {
                if (EntityManager.IsItWorkplace(userId, Model.IdentificationCode))
                {
                    @Html.ActionLink("Usuń z miejsc pracy", "RemoveFromWorkplaces", new {identificationCode = Model.IdentificationCode})
                    @:|
                }
                else
                {
                    @Html.ActionLink("Dodaj do miejsc pracy", "AddToWorkplaces", new {identificationCode = Model.IdentificationCode})
                    @:|
                }
            }
        }
        @Html.ActionLink("Powrót do listy SKP", "Index")
    </p>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - SKPOnline - Created by Wójcik Jakub</p>
    </footer>
</div>
</body>
</html>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOfQ3dVZXnV0Xt9ksUS4kRLyvyX7NKGDk&libraries=places&callback=initAutocomplete"></script>