﻿@using Microsoft.AspNet.Identity
@using SKPOnline.Models
@model IEnumerable<SKPOnline.Models.ViewModels.StationVM>

<h2>Lista stacji kontroli pojazdów</h2>

<p class="text-info">@ViewBag.StatusMessage</p>

<p>
    Mamy świadomość, że przedstawiona poniżej lista stacji kontroli pojazdów nie zawiera wszystkich SKP :( <br/>
    Pomóż nam to zmienić i zgłoś nam znaną Ci SKP lub dodaj swoją własną jeżeli jesteś właścicielem! <br/>
    Możesz to zrobić przy pomocy poniższego formularza. <br/>
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole(RolesEn.Admin))
        {
            <a class="btn btn-success" href="@Url.Action("Create", "Station", new {requestId = new Guid(), requestType = "", identificationCode = ""})">Dodaj SKP &raquo;</a>
            <a class="btn btn-success" href="@Url.Action("GrantOwnership", "Admin", new {requestId = new Guid(), requestType = "", identificationCode = ""})">Nadaj prawa do SKP &raquo;</a>
        }
        else if (User.IsInRole(RolesEn.Diagnostician) || User.IsInRole(RolesEn.Customer))
        {
            <a class="btn btn-success" href="@Url.Action("CreateStationRequest", "Station")">Dodaj SKP &raquo;</a>
        }
        else if (User.IsInRole(RolesEn.Owner))
        {
            <a class="btn btn-success" href="@Url.Action("CreateOwnerStationRequest", "Station")">Dodaj SKP &raquo;</a>
            <p>
                Jeżeli widzisz na liście należącą do Ciebie SKP - możesz użyć poniższego formularza, by dać nam o tym znać.
                Jeżeli Twój wniosek będzie pozytywnie rozpatrzony przyznamy Ci własność nad tą SKP.
            </p>
            <a class="btn btn-success" href="@Url.Action("CreateOwnershipRequest", "Station")">Zgłoś prawo do SKP &raquo;</a>
        }
    }
    else
    {
        <p>Formularz jest dostępny tylko dla zalogowanych użytkowników.</p>
        <a class="btn btn-success" href="@Url.Action("Login", "Identity")">Zaloguj się &raquo;</a>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdentificationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voivodeship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            Dostępne funkcje
        </th>
    </tr>

    @foreach (var station in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => station.IdentificationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => station.Voivodeship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => station.City)
            </td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details", "Station", new {identificationCode = station.IdentificationCode})">Szczegóły</a>
                @if (Request.IsAuthenticated)
                {
                    var userId = User.Identity.GetUserId();

                    if (User.IsInRole(RolesEn.Admin))
                    {
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Station", new {identificationCode = station.IdentificationCode})">Usuń</a>
                        <a class="btn btn-warning" href="@Url.Action("Edit", "Station", new {identificationCode = station.IdentificationCode})">Edytuj</a>
                    }

                    if (User.IsInRole(RolesEn.Owner) && EntityManager.IsItOwner(userId, station.IdentificationCode))
                    {
                        <a class="btn btn-warning" href="@Url.Action("Edit", "Station", new {identificationCode = station.IdentificationCode})">Edytuj</a>
                    }

                    if (User.IsInRole(RolesEn.Customer))
                    {
                        if (EntityManager.IsItFavourite(userId, station.IdentificationCode))
                        {
                            <a class="btn btn-danger" href="@Url.Action("RemoveFromFavourites", "Station", new {identificationCode = station.IdentificationCode})">Usuń z ulubionych</a>
                        }
                        else
                        {
                            <a class="btn btn-warning" href="@Url.Action("AddToFavourites", "Station", new {identificationCode = station.IdentificationCode})">Dodaj do ulubionych</a>
                        }
                    }

                    if (User.IsInRole(RolesEn.Diagnostician))
                    {
                        if (EntityManager.IsItWorkplace(userId, station.IdentificationCode))
                        {
                            <a class="btn btn-danger" href="@Url.Action("RemoveFromWorkplaces", "Station", new {identificationCode = station.IdentificationCode})">Usuń z miejsc pracy</a>
                        }
                        else
                        {
                            <a class="btn btn-warning" href="@Url.Action("AddToWorkplaces", "Station", new {identificationCode = station.IdentificationCode})">Dodaj do miejsc pracy</a>
                        }
                    }
                }
            </td>
        </tr>
    }

</table>

<hr/>

@Html.ActionLink("Powrót do strony głównej", "Index", "Home")