﻿@using SKPOnline.Models
@model IEnumerable<SKPOnline.Models.ViewModels.StationDetailsVM>

@{
    Layout = "";
    var addressModel = Model.Select(station => new Address
                                               {
                                                   IdentificationCode = station.IdentificationCode,
                                                   Voivodeship = station.Voivodeship,
                                                   City = station.City,
                                                   Street = station.Street,
                                                   HouseNumber = station.HouseNumber,
                                                   ApartmentNumber = station.ApartmentNumber
                                               });
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SKPOnline</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        function initAutocomplete()
        {
            var infowindow = new google.maps.InfoWindow({ });
            var geocoder = new google.maps.Geocoder();
            var model = @Html.Raw(Json.Encode(addressModel));
            var addressess = [];
            model.forEach(station =>
            {
                addressess.push(station.City + ", " + station.Street + " " + station.HouseNumber + "/" + station.ApartmentNumber);
            });
            var myCenter = new google.maps.LatLng(52.114444, 19.423333);
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myCenter,
                zoom: 6,
                mapTypeId: 'roadmap'
            });
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);

            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            map.addListener('bounds_changed', function ()
            {
                searchBox.setBounds(map.getBounds());
            });

            let queryLimitError = false;

            for (let i = 0; i < addressess.length; i++)
            {
                geocoder.geocode({ 'address': addressess[i] }, function (results, status)
                {
                    if (status === google.maps.GeocoderStatus.OK)
                    {
                        var latitude = results[0].geometry.location.lat();
                        var longitude = results[0].geometry.location.lng();
                        var coordinates = { lat: latitude, lng: longitude };
                        var identificationCode = model[i].IdentificationCode;
                        var content = '<dl class="dl-horizontal"> <dt>Kod rozpoznawczy SKP:</dt> <dd>' + identificationCode + '</dd> <dt>Więcej informacji:</dt> <dd> <a class="btn btn-info" href="/Station/Details?identificationCode=' + identificationCode + '">Szczegóły</a> </dd> </dl>';
                        var marker = new google.maps.Marker({ position: coordinates, map: map, infoWindowContent: content });

                        google.maps.event.addListener(marker, 'click', function () {
                                        infowindow.setContent(marker.infoWindowContent);
                                        infowindow.open(map, marker);
                                });
                    }
                    else if (status === google.maps.GeocoderStatus.OVER_QUERY_LIMIT)
                    {
                        if (queryLimitError === false)
                        {
                            alert("Ze względu na ograniczenia darmowego planu Google Maps API, nie udało się wczytać wszystkich SKP. W celu przejrzenia pełnej listy, zapraszamy do zakładki Lista SKP.");
                        }
                        queryLimitError = true;
                    }
                    else
                    {
                        console.log(status);
                    }
                });
            }

            var markers = [];

            searchBox.addListener('places_changed', function ()
            {
                var places = searchBox.getPlaces();

                if (places.length === 0)
                {
                    return;
                }

                markers.forEach(function (marker)
                {
                    marker.setMap(null);
                });

                markers = [];
                var bounds = new google.maps.LatLngBounds();

                places.forEach(function (place)
                {
                    if (!place.geometry)
                    {
                        console.log("Returned place contains no geometry");
                        return;
                    }

                    if (place.geometry.viewport)
                    {
                        bounds.union(place.geometry.viewport);
                    }
                    else
                    {
                        bounds.extend(place.geometry.location);
                    }
                });

                map.fitBounds(bounds);
            });
        }
    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
            @Html.ActionLink("Strona główna", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Informacje", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                <li>@Html.ActionLink("Lista SKP", "Index", "Station")</li>
                <li>@Html.ActionLink("Mapa SKP", "Map", "Station")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">

    <h2>Mapa zawierająca lokalizacje wszystkich stacji kontroli pojazdów z naszej bazy danych.</h2>

    <div>
        <input id="pac-input" type="text" style="height:30px; width: 150px; margin: 15px;" placeholder="Wyszukaj...">
        <div id="map" style="height:500px;"></div>
    </div>

    <hr/>

    @Html.ActionLink("Powrót do strony głównej", "Index", "Home")

    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - SKPOnline - Created by Wójcik Jakub</p>
    </footer>
</div>
</body>
</html>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOfQ3dVZXnV0Xt9ksUS4kRLyvyX7NKGDk&libraries=places&callback=initAutocomplete"></script>