﻿@model SKPOnline.Database.Models.OwnershipRequest

@{
    var certificateSource = "";

    if (Model.Certificate != null)
    {
        var certificatePath = Convert.ToBase64String(Model.Certificate);
        certificateSource = $"data:image/png;base64,{certificatePath}";
    }
}

<h2>Wniosek o przyznanie własności nad SKP</h2>

<div>
    <h4>Zgłaszający</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.Nip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Nip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.CompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.Voivodeship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Voivodeship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.ApartmentNumber)
        </dd>
    </dl>
    <h4>Treść wniosku</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdentificationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Certificate)
        </dt>

        <dd>
            <img class="img-thumbnail" src="@certificateSource" alt="certificate"/>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Powrót do listy wniosków", "OwnershipRequestList", "Admin") |
    @Html.ActionLink("Usuń", "DeleteOwnershipRequest", "Admin", new {id = Model.Id}, null) |
    @Html.ActionLink("Dodaj właściciela SKP na podstawie danych z wniosku", "RedirectToGrantOwnershipFromRequest", "Admin", new {id = Model.Id}, null)
</p>