﻿@model SKPOnline.Database.Models.OwnerStationRequest

@{
    var photoSource = "";

    if (Model.Photo != null)
    {
        var photoPath = Convert.ToBase64String(Model.Photo);
        photoSource = $"data:image/png;base64,{photoPath}";
    }

    var certificatePath = Convert.ToBase64String(Model.Certificate);
    var certificateSource = $"data:image/png;base64,{certificatePath}";
}

<h2>Wniosek o dodanie SKP od właścicieli</h2>

<div>
    <h4>Zgłaszający</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.Nip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Nip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.CompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.Voivodeship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Voivodeship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.ApartmentNumber)
        </dd>
    </dl>
    <h4>Treść wniosku</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voivodeship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voivodeship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img class="img-thumbnail" src="@photoSource" style="width:200px;height:200px;" alt="photo"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Certificate)
        </dt>

        <dd>
            <img class="img-thumbnail" src="@certificateSource" alt="certificate"/>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Powrót do listy wniosków", "OwnerStationRequestList", "Admin") |
    @Html.ActionLink("Usuń", "DeleteOwnerStationRequest", "Admin", new {id = Model.Id}, null) |
    @Html.ActionLink("Dodaj SKP na podstawie danych z wniosku", "RedirectToAddStationFromRequest", "Admin", new {id = Model.Id}, null) |
    @Html.ActionLink("Dodaj właściciela SKP na podstawie danych z wniosku", "RedirectToGrantOwnershipFromRequest", "Admin", new {id = Model.Id}, null)
</p>