﻿@using SKPOnline.Database
@using SKPOnline.Models.ViewModels
@model SKPOnline.Database.Models.StationRequest

@{
    var photoSource = "";

    if (Model.Photo != null)
    {
        var photoPath = Convert.ToBase64String(Model.Photo);
        photoSource = $"data:image/png;base64,{photoPath}";
    }
    DiagnosticianProfileVM finalDiagnostician = null;
    CustomerProfileVM finalCustomer = null;

    using (var dbContext = ApplicationDbContext.Create())
    {
        var userDiagnostician = dbContext.Diagnosticians.FirstOrDefault(diagnostician => diagnostician.Id == Model.User.Id);

        if (userDiagnostician == null)
        {
            var userCustomer = dbContext.Customers.FirstOrDefault(customer => customer.Id == Model.User.Id);

            if (userCustomer != null)
            {
                var user = new CustomerProfileVM
                           {
                               NickName = userCustomer.NickName,
                               Gender = userCustomer.Gender,
                               FirstName = userCustomer.FirstName,
                               Surname = userCustomer.Surname,
                               BirthDate = userCustomer.BirthDate,
                               PhoneNumber = userCustomer.PhoneNumber,
                               Voivodeship = userCustomer.Voivodeship,
                               City = userCustomer.City,
                               Street = userCustomer.Street,
                               HouseNumber = userCustomer.HouseNumber,
                               ApartmentNumber = userCustomer.ApartmentNumber,
                               Avatar = userCustomer.Avatar
                           };

                finalCustomer = user;
            }
        }
        else
        {
            var user = new DiagnosticianProfileVM
                       {
                           PermissionNumber = userDiagnostician.PermissionNumber,
                           NickName = userDiagnostician.NickName,
                           Gender = userDiagnostician.Gender,
                           FirstName = userDiagnostician.FirstName,
                           Surname = userDiagnostician.Street,
                           BirthDate = userDiagnostician.BirthDate,
                           PhoneNumber = userDiagnostician.PhoneNumber,
                           Voivodeship = userDiagnostician.Voivodeship,
                           City = userDiagnostician.City,
                           Street = userDiagnostician.Street,
                           HouseNumber = userDiagnostician.HouseNumber,
                           ApartmentNumber = userDiagnostician.ApartmentNumber,
                           Avatar = userDiagnostician.Avatar
                       };

            finalDiagnostician = user;
        }
    }
}

<h2>Wniosek o dodanie SKP</h2>

<div>
<h4>Zgłaszający</h4>
<hr/>
@if (finalDiagnostician != null)
{
    <dl class="dl-horizontal">
        <dt>
            Numer uprawnienia
        </dt>

        <dd>
            @finalDiagnostician.PermissionNumber
        </dd>

        <dt>
            Nazwa użytkownika
        </dt>

        <dd>
            @finalDiagnostician.NickName
        </dd>

        <dt>
            Płeć
        </dt>

        <dd>
            @finalDiagnostician.Gender
        </dd>

        <dt>
            Imię
        </dt>

        <dd>
            @finalDiagnostician.FirstName
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @finalDiagnostician.Surname
        </dd>

        <dt>
            Data urodzenia
        </dt>

        <dd>
            @finalDiagnostician.BirthDate
        </dd>

        <dt>
            Numer telefonu
        </dt>

        <dd>
            @finalDiagnostician.PhoneNumber
        </dd>

        <dt>
            Województwo
        </dt>

        <dd>
            @finalDiagnostician.Voivodeship
        </dd>

        <dt>
            Miejscowość
        </dt>

        <dd>
            @finalDiagnostician.City
        </dd>

        <dt>
            Ulica
        </dt>

        <dd>
            @finalDiagnostician.Street
        </dd>

        <dt>
            Numer domu
        </dt>

        <dd>
            @finalDiagnostician.HouseNumber
        </dd>

        <dt>
            Numer mieszkania
        </dt>

        <dd>
            @finalDiagnostician.ApartmentNumber
        </dd>
    </dl>
}
else if (finalCustomer != null)
{
    <dl class="dl-horizontal">
        <dt>
            Nazwa użytkownika
        </dt>

        <dd>
            @finalCustomer.NickName
        </dd>

        <dt>
            Płeć
        </dt>

        <dd>
            @finalCustomer.Gender
        </dd>

        <dt>
            Imię
        </dt>

        <dd>
            @finalCustomer.FirstName
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @finalCustomer.Surname
        </dd>

        <dt>
            Data urodzenia
        </dt>

        <dd>
            @finalCustomer.BirthDate
        </dd>

        <dt>
            Numer telefonu
        </dt>

        <dd>
            @finalCustomer.PhoneNumber
        </dd>

        <dt>
            Województwo
        </dt>

        <dd>
            @finalCustomer.Voivodeship
        </dd>

        <dt>
            Miejscowość
        </dt>

        <dd>
            @finalCustomer.City
        </dd>

        <dt>
            Ulica
        </dt>

        <dd>
            @finalCustomer.Street
        </dd>

        <dt>
            Numer domu
        </dt>

        <dd>
            @finalCustomer.HouseNumber
        </dd>

        <dt>
            Numer mieszkania
        </dt>

        <dd>
            @finalCustomer.ApartmentNumber
        </dd>

    </dl>
}
<h4>Treść wniosku</h4>
<hr/>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.KnownFrom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.KnownFrom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.IdentificationCode)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.IdentificationCode)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Voivodeship)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Voivodeship)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.City)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.City)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Street)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Street)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.HouseNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.HouseNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ApartmentNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ApartmentNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OtherInfo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OtherInfo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Photo)
    </dt>

    <dd>
        <img class="img-thumbnail" src="@photoSource" style="width:200px;height:200px;" alt="photo"/>
    </dd>
</dl>
</div>
<p>
    @Html.ActionLink("Powrót do listy wniosków", "StationRequestList", "Admin") |
    @Html.ActionLink("Usuń", "DeleteStationRequest", "Admin", new {id = Model.Id}, null) |
    @Html.ActionLink("Dodaj SKP na podstawie danych z wniosku", "RedirectToAddStationFromRequest", "Admin", new {id = Model.Id}, null)
</p>