﻿<h2>O serwisie</h2>

<p>
    SKP Online powstało z myślą o tym, by w internecie znajdowało się miejsce, gdzie będzie można zgromadzić wszystkie istniejące stacje kontroli pojazdów w Polsce.
    Ideą serwisu jest otwarta baza danych, która dzięki kolejnym użytkownikom, takim jak Ty, ma szansę coraz bardziej się powiększać!
    Nie ważne jaką pełnisz rolę w kontekście SKP - jeżeli chcesz pomóc nam osiągnąć cel zachęcamy do wypełniania formularza i podsyłania nam kolejnych SKP!
</p>

<hr/>

@Html.ActionLink("Powrót do strony głównej", "Index", "Home")