﻿<h2>Dane kontaktowe twórcy serwisu:</h2>

<address>
    Jakub Wójcik<br/>
    Wydział Geologii, Geofizyki i Ochrony Środowiska<br/>
    Geoinformatyka
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:jkwojcik@student.agh.edu.pl">jkwojcik@student.agh.edu.pl</a><br/>
</address>

<hr/>

@Html.ActionLink("Powrót do strony głównej", "Index", "Home")