﻿<div class="jumbotron">
    <h1>SKP Online</h1>
    <p class="lead">SKP Online to interaktywna platforma zawierająca stale powiększającą się bazę danych Stacji Kontroli Pojazdów. Chcesz pomóc nam ją rozbudować?</p>
    <p>
        <a href="@Url.Action("Register", "Identity")" class="btn btn-primary btn-lg">Dołącz do nas &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lista SKP</h2>
        <p>
            Nasza baza danych stale się powiększa! Sprawdź aktualny spis stacji kontroli pojazdów - może znajdziesz wśród nich swoją ulubioną?
        </p>
    </div>
    <div class="col-md-4">
        <h2>Konto</h2>
        <p>
            Jesteś klientem i chciałbyś mieć swoje ulubione SKP pod ręką,a może jesteś diagnostą i chciałbyś dodać swoje miejsce pracy?
            Jeżeli żadne z tych nie jest poprawną odpowiedzią to zapewne jesteś właścicielem i chciałbyś dodać własną SKP. Tak czy siak zachęcamy do rejestracji!
        </p>
    </div>
    <div class="col-md-4">
        <h2>O projekcie</h2>
        <p>Zastanawia Cię idea SKP Online? Dowiedz się więcej klikając poniższy przycisk.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Station")">Stacje kontroli pojazdów &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="@Url.Action("Register", "Identity")">Rejestracja &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="@Url.Action("About")">Od autora &raquo;</a>
        </p>
    </div>
</div>