﻿@model SKPOnline.Models.ViewModels.GrantOwnershipVM

<h2>Formularz dodawania właściciela SKP</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Wypełnij poniższe pola, by dodać właściciela SKP</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group">
            @Html.LabelFor(model => model.IdentificationCode, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.IdentificationCode, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.IdentificationCode, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerId, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.OwnerId, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.OwnerId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
                <input type="submit" value="Dodaj" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do panelu administracyjnego", "Index")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}