﻿@model SKPOnline.Models.ViewModels.RequestsCounterVM

<h1>Panel administracyjny</h1>

<p class="text-info">@ViewBag.StatusMessage</p>

<div class="row">
    <div class="col-md-4">
        <h2>Wnioski o dodanie stacji kontroli pojazdów</h2>
    </div>
    <div class="col-md-4">
        <h2>Wnioski o dodanie stacji kontroli pojazdów od właścicieli</h2>
    </div>
    <div class="col-md-4">
        <h2>Wnioski o przyznanie własności nad stacją kontroli pojazdów</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>
            Tutaj znajdują się wnioski od użytkowników posiadających rolę klienta lub diagnosty zawierające informację o istnieniu potencjalnej stacji kontroli pojazdów.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Tutaj znajdują się wnioski od użytkowników posiadających rolę właściciela zawierające informację o stacji kontroli pojazdów, którą chcieliby dodać do serwisu.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Tutaj znajdują się wnioski od użytkowników posiadających rolę właściciela zawierające informację o stacji kontroli pojazdów, do której chcieliby otrzymać prawa.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><b>
            Liczba wniosków do rozpatrzenia: @Html.DisplayFor(model => model.NumberOfStationRequests)
        </b></p>
    </div>
    <div class="col-md-4">
        <p><b>
            Liczba wniosków do rozpatrzenia: @Html.DisplayFor(model => model.NumberOfOnwerStationRequests)
        </b></p>
    </div>
    <div class="col-md-4">
        <p><b>
            Liczba wniosków do rozpatrzenia: @Html.DisplayFor(model => model.NumberOfOwnershipRequests)
        </b></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="@Url.Action("StationRequestList")">Wyświetl listę wniosków &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="@Url.Action("OwnerStationRequestList")">Wyświetl listę wniosków &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="@Url.Action("OwnershipRequestList")">Wyświetl listę wniosków &raquo;</a>
        </p>
    </div>
</div>