﻿@model IEnumerable<SKPOnline.Models.ViewModels.OwnershipRequestVM>

<h2>Wnioski o przyznanie własności nad SKP</h2>

<p class="text-info">@ViewBag.StatusMessage</p>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentificationCode)
            </th>
            <th>
                Dostępne funkcje
            </th>
        </tr>

        @foreach (var request in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => request.IdentificationCode)
                </td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("OwnershipRequest", "Station", new {id = request.Id})">Szczegóły</a>
                    <a class="btn btn-success" href="@Url.Action("RedirectToGrantOwnershipFromRequest", new {id = request.Id})">Dodaj właściciela</a>
                    <a class="btn btn-danger" href="@Url.Action("DeleteOwnershipRequest", new {id = request.Id})">Usuń</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <p class="text-warning">Brak wniosków do wyświetlenia</p>
}

@Html.ActionLink("Powrót do panelu administracyjnego", "Index")