﻿@model IEnumerable<SKPOnline.Models.ViewModels.OwnerStationRequestVM>

<h2>Wnioski o dodanie SKP od właścicieli</h2>

<p class="text-info">@ViewBag.StatusMessage</p>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Dostępne funkcje
            </th>
        </tr>

        @foreach (var request in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => request.Id)
                </td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("OwnerStationRequest", "Station", new {id = request.Id})">Szczegóły</a>
                    <a class="btn btn-success" href="@Url.Action("RedirectToAddStationFromRequest", new {id = request.Id})">Dodaj SKP</a>
                    <a class="btn btn-success" href="@Url.Action("RedirectToGrantOwnershipFromRequest", new {id = request.Id})">Dodaj właściciela</a>
                    <a class="btn btn-danger" href="@Url.Action("DeleteOwnerStationRequest", new {id = request.Id})">Usuń</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <p class="text-warning">Brak wniosków do wyświetlenia</p>
}

@Html.ActionLink("Powrót do panelu administracyjnego", "Index")