﻿@using Microsoft.AspNet.Identity
<h2>Zarządzaj</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Ustawienia konta</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [@Html.ActionLink("Zmień hasło", "ChangePassword")]
        </dd>
        <dt>Adres e-mail:</dt>
        <dd>
            @User.Identity.GetUserName() [@Html.ActionLink("Zmień e-mail", "ChangeEmail")]
        </dd>
    </dl>
</div>